<% include header.ejs %>
<% for(var i = 0; i < data.length ; i++) {
    var problem = data[i];
%>
<div class="main">
  <%=problem%>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%=problem.name%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=problem.name%></h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>
<% } if(data.length == 0){ %>
    <div class="main card text-center">
        <div class="card-header">
            No Problems Available !
        </div>
        <div class="card-body">
            <p class="card-text">There is no problem in your department.</p>
        </div>
        <div class="card-header">
        </div>

    </div>
<% } %>
<% include footer.ejs %>