<link rel="stylesheet" href="/assets/bs.css">
<link rel="stylesheet" href="/assets/dash.css">
<link rel="stylesheet" href="/assets/fa.css">
<script src="/assets/jquery.js"></script>

<nav class="navbar navbar-dark bg-primary" style="color:white;">

    <a class="navbar-brand" href="#">
        Speak Out
    </a>

</nav>
<div class="sidenav">
    <a href="/web/dash">Home</a>
    <a href="/web/org/add">Add Organization</a>
    <a href="/web/org/list">List Organization</a>
    <a href="/web/prob/add">Add Problem</a>
    <a href="/web/prob/list">List Problem</a>
    <a href="/web/logout">Logout</a>
</div>

