<link rel="stylesheet" href="/assets/bs.css">
<script src="/assets/jquery.js"></script>

<nav class="navbar navbar-dark bg-primary" style="color:white;">

    <a class="navbar-brand" href="#">
        Speak Out
    </a>
    <div style="margin: 5px;" class="navbar-right">
        <div class="btn btn-danger" onclick="window.location='/dash/logout'">Logout</div>
    </div>
</nav>
