<link rel="stylesheet" href="/assets/bs.css">
<link rel="stylesheet" href="/assets/dash.css">
<!--<link rel="stylesheet" href="/assets/fa.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/assets/jquery.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-messaging.js"></script>
<script src="/assets/firebase.js"></script>

<nav class="navbar navbar-dark bg-primary" style="color:white;">

    <a class="navbar-brand" href="#">
        Speak Out
    </a>

</nav>


<div class="sidenav">
    <a <% if (active == "home"){ %>class="active" <% } %>href="/web/dash">Home</a>
    <% if (role === "admin"){ %>
        <a <% if (active == "add_org"){ %>class="active"
                <% } %>
           href="/web/org/add">Add Organization</a>
        <a <% if (active == "list_org"){ %>class="active"
                <% } %>
           href="/web/org/list">List Organization</a>
        <a <% if (active == "add"){ %>class="active"
                <% } %>
           href="/web/prob/add">Add Issue</a>
        <a <% if (active == "list"){ %>class="active"
                <% } %>
           href="/web/prob/list">List Issue</a>
    <% } %>
    <a href="/web/logout">Logout</a>
</div>

