<link rel="stylesheet" href="/assets/bs.css">
<script src="/assets/jquery.js"></script>
<div style="padding: 15px;">
    <form method="post" action="/web/login">
        <h1>Login :</h1>
        <input name="username" class="form-control" type="text" placeholder="Enter username or Phone number">
        <br>
        <input name="password" class="form-control" type="password" placeholder="Enter password">
        <br>
        <button class="offset-5 btn btn-success mt-3">Login
        </button>
    </form>
</div>


<% include footer.ejs %>